* {
	justify-content: center;
}

body {
	background: url(header.jpg) no-repeat center center fixed;
	background-size: cover;
}
h1 {
	color: white;
	font-family: 'Oxygen', sans-serif;
}

section hr {
	color: #f05f44;
	border-width: 3px;
	height: 12px;
	max-width: 65px;
}

.xs-button {
	background-color: orangered;
	border-color: orangered;
    border-radius: 200px;
}

.xs-button:hover {
	background-color: #EC6600;
	border-color: #EC6600;
	border-width: 4px;
}